@model Studentmanagmentsystem.Models.StudentTB

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<h2 class="display-4 text-center mt-4"><b>Details View</b></h2>

<div>

    <hr class="mb-5" style="height:3px;border-width:0;color:gray;background-color:gray" />

    <div>
        <div class="row mb-4">
            <div class="col-3 text-primary font-weight-bold">
                @Html.DisplayNameFor(model => model.sid)
            </div>
            <div class="col-9">
                :- @Html.DisplayFor(model => model.sid)
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-3 text-primary font-weight-bold">
                @Html.DisplayNameFor(model => model.fullname)
            </div>
            <div class="col-9">
                :- @Html.DisplayFor(model => model.fullname)
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-3 text-primary font-weight-bold">
                @Html.DisplayNameFor(model => model.school)
            </div>
            <div class="col-9">
                :- @Html.DisplayFor(model => model.school)
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-3 text-primary font-weight-bold">
                @Html.DisplayNameFor(model => model.username)
            </div>
            <div class="col-9">
                :- @Html.DisplayFor(model => model.username)
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-3 text-primary font-weight-bold">
                @Html.DisplayNameFor(model => model.email)
            </div>
            <div class="col-9">
                :- @Html.DisplayFor(model => model.email)
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-3 text-primary font-weight-bold">
                @Html.DisplayNameFor(model => model.password)
            </div>
            <div class="col-9">
                :- @Html.DisplayFor(model => model.password)
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-3 text-primary font-weight-bold">
                @Html.DisplayNameFor(model => model.address)
            </div>
            <div class="col-9">
                :- @Html.DisplayFor(model => model.address)
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-3 text-primary font-weight-bold">
                @Html.DisplayNameFor(model => model.grade)
            </div>
            <div class="col-9">
                :- @Html.DisplayFor(model => model.grade)
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-3 text-primary font-weight-bold">
                @Html.DisplayNameFor(model => model.gender)
            </div>
            <div class="col-9">
                :- @Html.DisplayFor(model => model.gender)
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-3 text-primary font-weight-bold">
                @Html.DisplayNameFor(model => model.subject)
            </div>
            <div class="col-9">
                :- @Html.DisplayFor(model => model.subject)
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-3 text-primary font-weight-bold">
                @Html.DisplayNameFor(model => model.tpnum)
            </div>
            <div class="col-9">
                :- @Html.DisplayFor(model => model.tpnum)
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-3 text-primary font-weight-bold">
                @Html.DisplayNameFor(model => model.parentname)
            </div>
            <div class="col-9">
                :- @Html.DisplayFor(model => model.parentname)
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-3 text-primary font-weight-bold">
                @Html.DisplayNameFor(model => model.parenttpnum)
            </div>
            <div class="col-9">
                :- @Html.DisplayFor(model => model.parenttpnum)
            </div>
        </div>
    </div>

    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.sid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sid)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fullname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fullname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.school)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.school)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.grade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.grade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tpnum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tpnum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.parentname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.parentname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.parenttpnum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.parenttpnum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.imagepath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.imagepath)
            </dd>

        </dl>*@
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sid }, new { @class = "btn btn-primary", style = "margin-left:400px" }) <br />
    @Html.ActionLink("Back to List", "Index")
</p>
